streamlit
pandas
numpy
plotly
plotly-express
dropbox
gspread
oauth2client
google-generativeai
streamlit-drawable-canvas
reportlab
Pillow
pytz
google-api-python-client
yagmail
streamlit-webrtc
av
pyzbar
openpyxl
xlsxwriter
fpdf
mlxtend
statsmodels
flask
